  <fieldset>
    <div class="control-group<%= error_css(@fact, :name) %>"> 
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => "input-xxlarge" %>
        <%= error_message_for_field(@fact, :name) %>
      </div>    
    </div>
    <div class="control-group<%= error_css(@fact, :slug) %>">
      <%= f.label :slug, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :slug, :class => 'input-xxlarge' %>
        <%= error_message_for_field(@fact, :slug) %>
      </div>    
    </div>
    <div class="control-group">
      <%= f.label :description, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :description, :rows => 4, :class => 'input-xxlarge' %>
      </div>    
    </div>
    <div class="control-group<%= error_css(@fact, :value) %>">
      <%= f.label :value, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :value, :class => 'input-xxlarge' %>
        <%= error_message_for_field(@fact, :value) %>
      </div>    
    </div>
    <div class="control-group<%= error_css(@fact, :data_type) %>">
      <%= f.label :data_type, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :data_type, Fact::DATA_TYPES.collect {|dt| [dt.to_s.titlecase, dt]} %>
        <%= error_message_for_field(@fact, :data_type) %>
      </div>    
    </div>
    <div class="control-group">
      <div class="controls">
        <%= f.submit :class => 'btn btn-success' %>
      </div>
    </div>
  </fieldset>
